{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

    <h1>Все статьи</h1>
    <hr>
    <h2>Всего статей - {{ posts|length }}</h2>
    {% if perms.news.change_post %}
        <a href="{% url 'news_create'%}">Новая новость</a>
        <a href="{% url 'articles_create'%}">Новая статья</a>
    {% endif %}

    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата опубликования</td>
                <td>Превью</td>
                <td>Автор</td>
                <td>Тип</td>
                <td>Рейтинг</td>
                <td>Действия</td>
            </tr>

            {% for po in posts %}
            <tr>
                <td>{{ po.title|truncatewords:4|censor }}</td>
                <td>{{ po.datetime_in|date:'d M Y' }}</td>
                <td>{{ po.text|truncatewords:20|censor }}</td>
                <td>{{ po.author.user }}</td>
                <td>{{ po.post_type }}</td>
                <td>{{ po.rating }}</td>
                <td>
                    {% if po.post_type == 'NE' and perms.news.change_post and po.author.user == request.user%}
                       <a href="{% url 'news_update' pk=po.id %}">Изменить</a>
                    {% endif %}
                    {% if po.post_type == 'AR' and perms.news.change_post and po.author.user == request.user%}
                       <a href="{% url 'articles_update' pk=po.id %}">Изменить</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}